#endScreen {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: black;
  border: 1px solid white;
}
#endScreen > div {
  text-align: center;
  margin-top: 50%;
}

/* Battle Messages */

#messageContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  position: absolute;
  bottom: 0;
  right: 0;
}

.message {
  width: fit-content;
  z-index: 1;

  font-size: 85%;
}

.topMessage {
  padding: 3px;
  margin-bottom: 5px;
  margin-left: auto; /* right align */
  text-align: right;
}

.bottomMessage {
  margin-bottom: 15px;
}

#logButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* General Styles */

.noClick {
  color: #666;
  background-color: #333;
}

.choice-wrapper {
  display: inline-block;
  margin: 0.5%;
}
.choice-wrapper > button {
  width: 100%;
}