<snippet name="Room" start>
<div id="screenBg"></div>

<div id="screenContents" class="absoluteAlign">
    <div id="tophalf" class="absoluteAlign">
    </div>
    <div id="bottomhalf" class="absoluteAlign blackBg">
    </div>
</div>
</snippet>