.partySoulDiv {
    margin: 5px;
    border: 1px solid #fff;
    padding: 3px 7px 3px 7px;
    border-radius: 20px;
    background-color: #000;
    cursor: pointer;
    font-size: 80%;
}

.detailedPartySoulDiv {
    overflow: visible;
}

.partyContainer {
    margin: 5px;
    padding: 3px;
    width: fit-content;
    border: 1px solid #666;

    /*
    display: inline-block;
    vertical-align: top;
    */
}

.partyStatContainer {
}

.partySkillContainer {
    padding-right: 10px;
}