<snippet name="Room" styles="./room/roomStyle.css; ../meta/styles/partyStyle.css; ../meta/styles/mapStyle.css; ../meta/styles/inventoryStyle.css">

<div id="contents">
    <div id="bg" class="fullscreenBg"></div>
    <div id="screenCover" class="fullscreenBg"></div>
    <div id="passages"><div class="passage">
        <div id="screenBg"></div>

        <div id="screenContents" class="absoluteAlign">

            <div id="map" class="hidden menuPanel absoluteAlign"></div>

            <div id="topHalf" class="absoluteAlign">
                <div id="roomName" class="blackBg2"></div>
            </div>
            <div id="bottomhalf" class="absoluteAlign blackBg">
                <div id="bottomContent" class="blackBg2">
                </div>

                <div id="inventory" class="hidden menuPanel absoluteAlign"></div>
                <div id="party" class="hidden menuPanel absoluteAlign"></div>

                <div id="menuButtons" class="blackBg2">
                    <button type="button" class="menuButton" id="inventoryButton">Inventory</button>
                    <button type="button" class="menuButton" id="mapButton">Map</button>
                    <button type="button" class="menuButton" id="partyButton">Party</button>
                </div>
            </div>
        </div>
    </div></div>
</div>

<%
$(function () {
    const ref = window.vapormall;


    const map = new ref.MapMenu();
    const party = new ref.PartyMenu();
    const inventory = new ref.InventoryMenu();

    ref.GameState.currentFloor.renderRoom();
});
%>

</snippet>