<snippet name="Room" styles="./room/roomStyle.css">

<div id="contents">
    <div id="bg"></div>
    <div id="passages"><div class="passage">
        <div id="screenBg"></div>

        <div id="screenContents" class="absoluteAlign">
            <div id="tophalf" class="absoluteAlign">
                <div id="roomName" class="blackBg2">Shirt Suite 2342</div>
            </div>
            <div id="bottomhalf" class="absoluteAlign blackBg">
                <div id="bottomContent" class="blackBg2">
                    The quick brown fox jumps over the lazy dog.<br/><br/>
                    Exits: north to ASDF, south to dASFDSF.
                </div>
                <div id="menu" class="blackBg2">
                    <button id="inventory">Inventory</button>
                    <button id="map">Map</button>
                    <button id="party">Party</button>
                </div>
            </div>
        </div>
    </div></div>
</div>

<%
$(function () {
    const ref = window.vapormall;
    ref.GameState.generateFloor();
});
%>

</snippet>