<snippet name="Loss" styles="./meta/styles/partyStyle.css">

<div id="contents">
    <div id="bg"></div>
    <div id="screenCover" class="fullscreenBg"></div>
    <div id="passages"><div class="passage">
        <div id="screenBg"></div>

        <div id="screenContents" class="absoluteAlign">
            <div id="topHalf" class="absoluteAlign">
                <div id="messageContainer"></div>
            </div>
            <div id="bottomhalf" class="absoluteAlign blackBg">
                <div id="bottomContent">
                    <p>YOU HAVE LOST</p>

                    <p>The digital remnants of your soul are garbage collected and cleansed from memory.</p>
                </div>

                <div id="party" class="hidden menuPanel absoluteAlign"></div>

                <div id="menuButtons" class="blackBg2">
                    <button type="button" class="menuButton" id="partyButton">Party</button>
                </div>
            </div>
        </div>
    </div></div>
</div>

<%

$(function () {
    const ref = window.vapormall;
    const party = new ref.PartyMenu();
});

%>
</snippet>